<!DOCTYPE html>
<html lang="zh">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <title>500</title>
    <!--    <link rel="stylesheet" href="./bootstrap/css/style.css">-->
    <link th:href="@{/lyear/style.css}" rel="stylesheet" type="text/css">

</head>
<body>

<main class="container">
    <span class="particle">5</span>
    <span class="particle">5</span>
    <span class="particle">5</span>
    <span class="particle">5</span>
    <span class="particle">5</span>
    <span class="particle">5</span>
    <span class="particle">5</span>
    <span class="particle">5</span>
    <span class="particle">5</span>
    <span class="particle">5</span>
    <span class="particle">5</span>
    <span class="particle">5</span>
    <span class="particle">5</span>
    <span class="particle">5</span>
    <span class="particle">5</span>
    <span class="particle">5</span>
    <span class="particle">5</span>
    <span class="particle">5</span>
    <span class="particle">5</span>
    <span class="particle">5</span>
    <span class="particle">5</span>
    <span class="particle">5</span>
    <span class="particle">5</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <span class="particle">0</span>
    <article class="content">
        <p><strong>500错误</strong></p>
        <p>火星人把服务器炸了</p>
        <p>
            <a href="/">
                <button>返回主页</button>
            </a>
        </p>
    </article>
</main>


</body>
</html>