<?xml version='1.0' encoding='UTF-8'?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.ChangeMoneyMapper">

    <select id="selectChangeMoneyAll" resultType="com.project.pojo.ChangeMoney">
        select * from change_money
    </select>

    <insert id="addChangeMoney" parameterType="com.project.pojo.ChangeMoney">
        insert into change_money(name,annualIncome,peiIncome,invesMoney,invesTerm) values (#{name},#{annualIncome},#{peiIncome},#{invesMoney},#{invesTerm})
    </insert>
</mapper>