<?xml version='1.0' encoding='UTF-8'?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.UserFundMapper">
    <select id="selectUserFundAll" resultType="com.project.pojo.FundProduct">
        select * from fund_product
    </select>
    <select id="selectUserFundById" parameterType="Integer" resultType="com.project.pojo.FundProduct">
        select * from fund_product where id = #{id}
    </select>
    <insert id="insertFlowOfFund" parameterType="com.project.pojo.FlowOfFunds">
        insert into flow_of_funds(userId,flowMoney,type,source,createTime,fundDesc) values (#{userId},#{flowMoney},#{type},#{source},#{createTime},#{fundDesc})
    </insert>
    <insert id="insertUserFund" parameterType="com.project.pojo.UserFundInfo">
        insert into user_fund_product(userId,fundId,startTime,averYield,profit,status) values (#{userId},#{fundId},#{startTime},#{averYield},#{profit},#{status})
    </insert>
</mapper>